# Python

**pycache**/
_.py[cod]
_$py.class
\*.so
.Python
venv/
env/
ENV/

# Environment variables

.env

# IDEs

.vscode/
.idea/

# Database

_.db
_.sqlite

# OS

.DS_Store
Thumbs.db

# Git

.git/
.gitignore
